.articles {
	// .articles__container
	&__container {
	}
	// .articles__header
	&__header {
		margin: 0px 0px rem(40) 0px;
	}
	// .articles__body
	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(350), 1fr));
		grid-gap: rem(40) rem(12);
		margin: 0px 0px rem(40) 0px;
		@media (max-width: em($md3)) {
			grid-gap: rem(20) rem(12);
		}
		@media (max-width: em($md4)) {
			grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
		}
	}
	// .articles__item
	&__item {
		
	}
}

//===============================================================
.articles-header {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: rem(40) rem(12);
	@media (max-width: em($md1)) {
		grid-template-columns: 1fr;
	}
	@media (max-width: em($md3)) {
		grid-gap: rem(20) rem(12);
	}
	// .articles-header__column
	&__column {
		// .articles-header__column_left
		&_left {
			display: grid;
			grid-gap: rem(12);
			@media (max-width: em($md1)) {
				order: 2;
			}
			@media (max-width: em($md3)) {
				grid-gap: rem(20) rem(12);
				grid-template-columns: repeat(auto-fill, minmax(rem(350), 1fr));
			}
			@media (max-width: em($md4)) {
				grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
			}
		}
		// .articles-header__column_right
		&_right {
			background: #262B38;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: rem(30);
			@media (max-width: em($md1)) {
				order: 1;
			}
		}
	}
}

//===============================================================
.article {
	display: grid;
	grid-template-rows: auto 1fr;
	// .article__image
	&__image {
		display: block;
		padding: 0px 0px prc(239, 384) 0px;
		overflow: hidden;
		img {
			transform: scale(1.001);
			transition: all 0.5s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	// .article__content
	&__content {
		padding: rem(18) rem(20) rem(32);
		background: var(--color-background);
	}
	// .article__header
	&__header {
		margin: 0px 0px rem(15) 0px;
		display: grid;
		grid-gap: rem(8);
	}
	// .article__date
	&__date {
		color: var(--color-font-light);
	}
	// .article__title
	&__title {
	}
	// .article__text
	&__text {
		margin: 0px 0px rem(20) 0px;
	}
	// .article__footer
	&__footer {
		display: flex;
		justify-content: flex-end;
	}
	// .article__link
	&__link {
		position: relative;
		font-size: rem(14);
		font-weight: 700;
		color: var(--color-font);
		text-transform: uppercase;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: rem(2);
			background: var(--color-main);
		}
	}

	@media (min-width: em($md3+1)) {
		// .article_row-reverce
		&_row-reverce {
			min-height: rem(256);
			grid-template-columns: 4fr 3fr;
			grid-template-rows: 1fr;
			.article__image {
				order: 2;
			}
			.article__content {
				padding: rem(28) rem(24);
				order: 1;
			}
		}
	
		// .article_row
		&_row {
			min-height: rem(256);
			grid-template-columns: 3fr 4fr;
			grid-template-rows: 1fr;
			.article__content {
				padding: rem(28) rem(24);
			}
		}
	}
}

//===============================================================
.main-article {
	max-width: rem(406);
	@media (max-width: em($md1)) {
		max-width: rem(800);
	}
	// .main-article__content
	&__content {
		padding: rem(18) rem(20) rem(32);
	}
	// .main-article__header
	&__header {
		margin: 0px 0px rem(15) 0px;
		display: grid;
		grid-gap: rem(8);
	}
	// .main-article__date
	&__date {
		color: #BDBDBD;
	}
	// .main-article__title
	&__title {
		a {
			color: #fff;
		}
	}
	// .main-article__text
	&__text {
		margin: 0px 0px rem(20) 0px;
		color: #fff;
	}
	// .main-article__footer
	&__footer {
		display: flex;
		justify-content: flex-end;
	}
	// .main-article__link
	&__link {
		position: relative;
		font-size: rem(14);
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: rem(2);
			background: var(--color-main);
		}
	}
}

