.categories {
	// .categories__container
	&__container {
	}
	// .categories__body
	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(400), 1fr));
		grid-gap: rem(12);
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(auto-fill, minmax(rem(350), 1fr));
		}
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
		}
	}
	// .categories__card
	&__card {
	}
}

//---------------------------------------------------------------
.category-card {
	background: var(--color-background);
	padding: rem(25) rem(38) rem(35);
	@media (max-width: em($md3)) {
		padding: rem(15) rem(15) rem(30);
	}
	// .category-card__image
	&__image {
		display: block;
		height: rem(270);
		margin: 0px 0px rem(18) 0px;
		img {
			object-fit: contain;
		}
	}
	// .category-card__content
	&__content {
		margin: rem(20) 0px 0px 0px;
	}
	// .category-card__title
	&__title {
		margin: 0px 0px rem(43) 0px;
	}
	// .category-card__sub-categories
	&__sub-categories {
		display: flex;
		flex-direction: column;
		gap: rem(15);
		@media (max-width: em($md4)) {
			gap: rem(10);
		}
	}
	// .category-card__item
	&__item {
	}
	// .category-card__link
	&__link {
		color: var(--color-font);
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-link);
			}
		}
	}
}

//===============================================================
.rubricator {
	margin: rem(25) 0px rem(45) 0px;
	@media (max-width: em($md1)) {
		display: none;
	}
	// .rubricator__container
	&__container {
	}
	// .rubricator__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(310), 1fr));
		grid-gap: rem(12);
		@media (max-width: em($md4)) {
			grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
		}
	}
	// .rubricator__item
	&__item {
	}
}
//---------------------------------------------------------------
.rubricator-item {
	border: rem(1) solid var(--color-border);
	padding: rem(13) rem(20);
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr;
	grid-gap: rem(14);
	@media (any-hover: hover) {
		&:hover {
			background: var(--color-background);
		}
	}
	// .rubricator-item__image
	&__image {
		height: rem(54);
		width: rem(54);
		img {
			object-fit: contain;
		}
	}
	// .rubricator-item__content
	&__content {
		display: grid;
		grid-gap: rem(5);
	}
	// .rubricator-item__title
	&__title {
	}
	// .rubricator-item__count
	&__count {
		color: var(--color-font-light);
	}
}

//===============================================================
.catalog {
	// .catalog__menu-btn
	&__menu-btn {
		display: none;
		@media (max-width: em($md1)) {
			position: fixed;
			left: 0;
			top: 20%;
			writing-mode: vertical-lr;
			padding: rem(15) rem(3) rem(15) rem(5);
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 700;
			background: var(--color-main);
			color: #fff;
			z-index: 30;
			box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
			transform: rotate(180deg);
			cursor: pointer;
		}
	}
	// .catalog__filter-btn
	&__filter-btn {
		display: none;
		@media (max-width: em($md1)) {
			position: fixed;
			left: 0;
			top: 35%;
			writing-mode: vertical-lr;
			padding: rem(15) rem(3) rem(15) rem(5);
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 700;
			background: #46b41d;
			color: #fff;
			z-index: 30;
			box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
			transform: rotate(180deg);
			cursor: pointer;
		}
	}
	// .catalog__container
	&__container {
	}
	// .catalog__body
	&__body {
		display: grid;
		grid-template-columns: rem(364) 1fr;
		grid-gap: rem(32);
		@media (max-width: em($md1)) {
			grid-template-columns: 1fr;
		}
	}
	// .catalog__aside
	&__aside {
	}
	// .catalog__main
	&__main {
	}
	// .catalog__filters
	&__filters {
	}
	// .catalog__cards
	&__cards {
		margin: 0px 0px rem(40) 0px;
	}
	// .catalog__pagging
	&__pagging {
	}
	// .catalog__actions
	&__actions {
	}
	// .catalog__cards
	&__cards {
	}
}

//===============================================================
.catalog-aside {
	position: relative;
	background: #fff;
	@media (max-width: em($md1)) {
		position: fixed;
		top: 0;
		left: 0;
		height: 0;
		z-index: 50;
		max-width: 80%;
		width: rem(364);
		height: 100vh;
		padding: rem(30) 0px;
		overflow-x: scroll;
		box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
		z-index: 100;
		transition: all 0.3s ease 0s;
		transform: translateX(-100%);
		&._active {
			transform: translateX(0);
		}
	}
	// .catalog-aside__close
	&__close {
		display: none;
		@media (max-width: em($md1)) {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: rem(28);
			right: rem(20);
			font-size: rem(20);
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: var(--color-main);
				}
			}
		}
	}
	// .catalog-aside__title
	&__title {
		font-weight: 700;
		text-transform: uppercase;
		margin: 0px 0px rem(15) 0px;
		@media (max-width: em($md1)) {
			padding: 0px 0px rem(15) rem(25);
		}
		@media (max-width: em($md4)) {
			padding: 0px rem(50) rem(15) rem(25);
		}
	}
	// .catalog-aside__menu
	&__menu {
	}
}

//===============================================================
.cat-menu {
	border: rem(1) solid var(--color-border);
	// .cat-menu__list
	&__list {
	}
	// .cat-menu__item
	&__item {
		&:not(:last-child) {
			border-bottom: rem(1) solid var(--color-border);
		}
	}
	// .cat-menu__control
	&__control {
		transition: all 0.3s ease 0s;
	}
	// .cat-menu__sub-menu
	&__sub-menu {
		display: grid;
		grid-template-rows: 0fr;
		overflow: hidden;
		transition: all 0.5s ease 0s;
		&._visible {
			grid-template-rows: 1fr;
		}
	}
	// .cat-menu__sub-wrapper
	&__sub-wrapper {
		min-height: 0px;
	}
	// .cat-menu__sub-list
	&__sub-list {
		border-top: rem(1) solid var(--color-border);
		padding: rem(15) rem(20);
		display: grid;
		grid-gap: rem(5);
	}
	// .cat-menu__sub-item
	&__sub-item {
	}
	// .cat-menu__sub-link
	&__sub-link {
		color: var(--color-font);
		&._active {
			color: var(--color-main);
		}
	}
}

//---------------------------------------------------------------
.cat-menu-control {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	grid-gap: rem(14);
	padding: rem(8) rem(20);
	cursor: pointer;
	&._active {
		background: #E6E8ED;
	}
	@media (any-hover: hover) {
		&:hover {
			background: var(--color-background);
		}
	}
	// .cat-menu-control__image
	&__image {
		width: rem(54);
		height: rem(54);
		img {
			object-fit: contain;
		}
	}
	// .cat-menu-control__title
	&__title {
	}
	// .cat-menu-control__arrow
	&__arrow {
		font-size: rem(8);
		line-height: 0;
		color: var(--color-font-light);
		transform: translateY(rem(2));
		transition: all 0.3s ease 0s;
		.cat-menu-control._active & {
			transform: translateY(rem(2)) rotate(90deg);
		}
	}
}

//===============================================================
.filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	grid-gap: rem(15) rem(30);
	margin: 0px 0px rem(15) 0px;
	background: #fff;
	@media (max-width: em($md1)) {
		display: grid;
		align-content: start;
		position: fixed;
		justify-content: normal;
		top: 0;
		left: 0;
		height: 0;
		z-index: 50;
		max-width: 80%;
		width: rem(364);
		height: 100vh;
		padding: rem(30) rem(20);
		overflow-x: scroll;
		box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
		z-index: 100;
		transition: all 0.3s ease 0s;
		transform: translateX(-100%);
		&._active {
			transform: translateX(0);
		}
	}

	// .filters__close
	&__close {
		display: none;
		@media (max-width: em($md1)) {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: rem(28);
			right: rem(20);
			font-size: rem(20);
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: var(--color-main);
				}
			}
		}
	}
	// .filters__title
	&__title {
		font-weight: 700;
		text-transform: uppercase;
		margin: 0px 0px rem(15) 0px;
		display: none;
		@media (max-width: em($md1)) {
			display: block;
		}
	}
	// .filters__section
	&__section {
		@media (min-width: em($md1+1)) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: rem(15) rem(30);
		}
		@media (max-width: em($md1)) {
			display: grid;
			grid-gap: rem(15);
		}
		// .filters__section_left
		&_left {
		}
		// .filters__section_right
		&_right {
		}
	}
	// .filters__item
	&__item {
		// .filters__item_icons
		&_icons {
			display: flex;
			gap: rem(30);
			@media (max-width: em($md1)) {
				font-size: rem(25) !important;
			}
		}
	}
	// .filters__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .filters__btn
	&__btn {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: rem(5);
		color: var(--color-font-light);
		font-size: rem(14);
		font-weight: 500;
		line-height: 1;
		white-space: nowrap;
		transition: color 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		&._active {
			opacity: 1;
			visibility: visible;
		}
		&::before {
			font-size: rem(10);
			line-height: 1;
			transform: translateY(rem(1));
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-main);
			}
		}
		@media (max-width: em($md1)) {
			background: var(--color-main);
			color: #fff;
			padding: rem(15) rem(20);
			&::before {
				display: none;
			}
			@media (any-hover: hover) {
				&:hover {
					background: var(--color-main-dark);
					color: #fff;
				}
			}
		}
	}
	// .filters__show-types
	&__show-types {
	}
}
//---------------------------------------------------------------
.filter {
	@media (min-width: em($md1+1)) {
		.choices {
			&::before {
				display: none;
			}
			&::after {
				content: "\e900";
				font-family: "icons";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				right: 0;
				width: auto;
				height: auto;
				border: none;
				font-size: rem(6);
				transition: all 0.3s ease 0s;
				transform: translateY(rem(1));
			}
			&.is-open {
				&::after {
					margin: 0;
					transform: translateY(rem(-3)) rotate(180deg);
				}
			}
			// .choices__inner
			&__inner {
				padding: 0px rem(17) 0px 0px;
				border: none;
				min-height: rem(30);
				.choices__item {
					padding: 0 !important;
				}
			}
			// .choices__list
			&__list {
				// .choices__list--single
				&--single {
					padding: 0;
					white-space: nowrap;
				}
				// .choices__list--dropdown
				&--dropdown {
					width: unset;
					min-width: rem(200);
				}
			}
			// .choices__item
			&__item {
				// .choices__item--selectable
				&--selectable {
					padding-right: rem(10) !important;
				}
			}
		}
	}
}

//---------------------------------------------------------------
.show-types {
	display: flex;
	align-items: center;
	grid-gap: rem(20);
	// .show-types__link
	&__link {
		line-height: 0;
		font-size: rem(14);
		color: var(--color-font-light);
		&._active {
			color: var(--color-font);
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-link-hover);
			}
		}
	}
}

//===============================================================
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
	grid-gap: rem(14);
	// .cards__item
	&__item {
	}
}

//===============================================================
.card {
	position: relative;
	border: rem(1) solid var(--color-border);
	// .card__main
	&__main {
		position: relative;
	}
	// .card__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(5);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: rem(22) rem(20);
		z-index: 2;
	}
	// .card__action
	&__action {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 3;
		background: rgba(255, 255, 255, 0.8);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			.card__main:hover & {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .card__btn
	&__btn {
	}
	// .card__image
	&__image {
		display: block;
		padding: 0px 0px 100% 0px;
	}
	// .card__content
	&__content {
		padding: rem(15) rem(20) rem(25);
		display: grid;
		grid-gap: rem(10);
	}
	// .card__info
	&__info {
		display: grid;
		grid-gap: rem(3);
	}
	// .card__title
	&__title {
	}
	// .card__code
	&__code {
		color: #939393;
	}
	// .card__prices
	&__prices {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(10);
	}
	// .card__price
	&__price {
	}
}

//===============================================================
.tag {
	color: #FFF;
	font-size: rem(14);
	font-weight: 500;
	line-height: 1;
	padding: rem(2) rem(7);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: rem(24);
	// .tag_new
	&_new {
		background: #4BC321;
	}
	// .tag_hot
	&_hot {
		background: #9921C3;
	}
	// .tag_sale
	&_sale {
		background: #C32121;
	}
}

//===============================================================
.price {
	font-weight: 700;
	line-height: 1;
	display: flex;
	align-items: center;
	gap: rem(5);
	white-space: nowrap;
	&::after {
		content: attr(data-cur);
	}
	// .price_old
	&_old {
		color: #939393;
		text-decoration: line-through;
	}
	// .price_new
	&_new {
		color: #C32121;
	}
}

//===============================================================
.catalog-actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: rem(32) rem(20);
	background: var(--color-background);
	margin: 0px 0px rem(12) 0px;
	@media (max-width: em($md2)) {
		display: none;
	}
	// .catalog-actions__section
	&__section {
		display: flex;
		align-items: center;
	}
}

//===============================================================
.cards-row {
	display: grid;
	grid-gap: rem(12);
	// .cards-row__item
	&__item {
	}
}

//===============================================================
.card-row {
	border: rem(1) solid var(--color-border);
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-gap: rem(20);
	padding: rem(5) rem(40);
	@media (max-width: em($md0)) {
		padding: rem(5) rem(20);
	}
	@media (max-width: em($md2)) {
		display: grid;
		justify-content: center;
		justify-items: center;
		padding: rem(20);
	}
	// .card-row__column
	&__column {
		// .card-row__column_main
		&_main {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
		}
		// .card-row__column_prices
		&_prices {
			display: grid;
			align-items: center;
			justify-items: center;
			grid-gap: rem(3);
			text-align: center;
			@media (max-width: em($md2)) {
				display: flex;
				grid-gap: rem(15);
			}
		}
		// .card-row__column_actions
		&_actions {
			display: flex;
			align-items: center;
			gap: rem(10);
		}
	}
	// .card-row__checkbox
	&__checkbox {
		margin: 0px rem(30) 0px 0px;
		@media (max-width: em($md0)) {
			margin: 0px rem(15) 0px 0px;
		}
		@media (max-width: em($md2)) {
			display: none;
		}
	}
	// .card-row__image
	&__image {
		margin: 0px rem(25) 0px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: rem(160);
		max-width: rem(160);
		@media (max-width: em($md0)) {
			margin: 0px rem(15) 0px 0px;
			max-height: rem(130);
			max-width: rem(130);
		}
	}
	// .card-row__content
	&__content {
		padding: rem(20) 0px;
		align-self: start;
		@media (max-width: em($md3)) {
			padding: rem(10) 0px;
		}
	}
	// .card-row__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: rem(5);
		margin: 0px 0px rem(16) 0px;
	}
	// .card-row__info
	&__info {
		display: grid;
		grid-gap: rem(3);
	}
	// .card-row__title
	&__title {
	}
	// .card-row__code
	&__code {
		color: #939393;
	}
	// .card-row__price
	&__price {
	}
	// .card-row__counter
	&__counter {
	}
	// .card-row__btn
	&__btn {
	}
}