.footer {
	background: #253040;
	color: #fff;
	padding: rem(50) 0px;
	// .footer__top
	&__top {
		margin: 0px 0px rem(40) 0px;
	}
	// .footer__bottom
	&__bottom {
	}
}

//===============================================================
.footer-top {
	// .footer-top__container
	&__container {
	}
	// .footer-top__body
	&__body {
		display: flex;
		justify-content: space-between;
		gap: rem(100);
		@media (max-width: em($md1)) {
			justify-content: center;
		}
	}
	// .footer-top__column
	&__column {
		// .footer-top__column_menu
		&_menu {
			@media (max-width: em($md2)) {
				display: none;
			}
		}
		// .footer-top__column_info
		&_info {
		}
	}
}

//===============================================================
.footer-menu {
	display: flex;
	flex-wrap: wrap;
	@media (max-width: em($md1)) {
		gap: rem(30);
	}
	// .footer-menu__column
	&__column {
		display: grid;
		align-content: start;
		grid-gap: rem(30);
		@media (min-width: em($md1+1)) {
			&:nth-child(1) {
				padding: 0px rem(125) 0px 0px;
			}
			&:nth-child(2) {
				padding: 0px rem(177) 0px 0px;
			}
		}
	}
	// .footer-menu__item
	&__item {
	}
	// .footer-menu__link
	&__link {
		display: flex;
		align-items: center;
		gap: rem(7);
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-main);
			}
		}
		&::before {
			font-size: rem(11);
		}

		&._icon-cat-menu {
			color: var(--color-main);
		}
	}
}

//===============================================================
.footer-info {
	// .footer-info__header
	&__header {
		display: flex;
		align-items: center;
		gap: rem(22);
		margin: 0px 0px rem(30) 0px;
	}
	// .footer-info__logo
	&__logo {
		max-width: rem(150);
	}
	// .footer-info__socials
	&__socials {
		display: flex;
		gap: rem(10);
		.social {
			color: #fff;
			@media (any-hover: hover) {
				&:hover {
					color: var(--color-main);
				}
			}
		}
	}
	// .footer-info__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: em($md1)) {
			align-items: center;
			justify-content: center;
		}
	}
	// .footer-info__address
	&__address {
		font-weight: 500;
		margin: 0px 0px rem(20) 0px;
	}
	// .footer-info__phone
	&__phone {
		color: #fff;
		font-weight: 500;
		margin: 0px 0px rem(5) 0px;
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-main);
			}
		}
	}
	// .footer-info__request
	&__request {
		font-weight: 500;
		margin: 0px 0px rem(20) 0px;
		text-decoration: underline;
		color: #6a7f9d;
		transition: all 0.3s ease 0s;
		font-size: rem(16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				color: var(--color-main);
			}
		}
	}
	// .footer-info__email
	&__email {
		color: #fff;
		font-weight: 500;
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-main);
			}
		}
	}
}

//===============================================================
.footer-bottom {
	text-align: center;
	// .footer-bottom__container
	&__container {
	}
	// .footer-bottom__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		gap: rem(20) rem(40);
		@media (max-width: em($md1)) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	// .footer-bottom__link
	&__link {
		font-weight: 500;
		text-decoration: underline;
		color: #6a7f9d;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
