.header {
	position: fixed;
	z-index: 50;
	background: #fff;
	width: 100%;
	transition: transform 0.3s ease 0s;
	&._down-scroll {
		@media (min-width: em($md2+1)) {
			transform: translateY(rem(-50));
		}
	}
	&._scroll {
		box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
	}
	// .header__top
	&__top {
		@media (max-width: em($md2)) {
			margin: rem(25) 0px 0px 0px;
		}
	}
	// .header__bottom
	&__bottom {
	}
}

//===============================================================
.header-top {
	padding: rem(20) 0px;
	@media (max-width: em($md3)) {
		padding: rem(20) 0px rem(40);
	}
	// .header-top__container
	&__container {
		display: flex;
		align-items: center;
		gap: rem(20) rem(40);
		@media (max-width: em($md2)) {
			flex-direction: column;
		}
	}
	// .header-top__menu
	&__menu {
		flex: 1 1 auto;
	}
	// .header-top__socials
	&__socials {
	}
	// .header-top__actions
	&__actions {
		display: flex;
		align-items: center;
		gap: rem(20) rem(40);
		@media (max-width: em($md2)) {
			flex-direction: column;
		}
	}
}

//===============================================================
.top-menu {
	// .top-menu__list
	&__list {
		display: flex;
		align-items: center;
		gap: rem(40);
		@media (max-width: em($md1)) {
			gap: rem(20);
		}
		@media (max-width: em($md2)) {
			gap: rem(10);
			flex-direction: column;
		}
	}
	// .top-menu__item
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		gap: rem(5);
		@media (max-width: em($md2)) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .top-menu__link
	&__link {
		font-size: rem(14);
		color: inherit;
		transition: all 0.2s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-main);
			}
		}
	}
	// .top-menu__arrow
	&__arrow {
		transform: translateY(rem(1));
		font-size: rem(6);
		transition: all 0.2s ease 0s;
		&._hover {
			color: var(--color-main);
			transform: rotate(180deg) translateY(rem(-1));
		}
		@media (max-width: em($md2)) {
			display: none;
		}
	}
	// .top-menu__sub-list
	&__sub-list {
		@media (min-width: em($md2+1)) {
			position: absolute;
			top: calc(100% + rem(10));
			opacity: 0;
			visibility: hidden;
			padding: rem(10) rem(15);
			transform: translateY(rem(10));
			transition: all 0.3s ease 0s;
			background: var(--color-main);
			min-width: rem(150);
			pointer-events: none;
			z-index: 5;
			&._visible {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				transform: translateY(rem(0));
			}
			&::before {
				content: '';
				position: absolute;
				top: rem(-10);
				left: 0;
				width: 100%;
				height: rem(10);
			}
		}
		@media (max-width: em($md2)) {
			display: grid;
			grid-gap: rem(8);
		}
	}
	// .top-menu__sub-item
	&__sub-item {
		@media (max-width: em($md2)) {
			text-align: center;
		}
	}
	// .top-menu__sub-link
	&__sub-link {
		color: #fff;
		font-size: rem(14);
		@media (min-width: em($md2+1)) {
			@media (any-hover: hover) {
				&:hover {
					color: var(--color-link-hover-dark);
				}
			}
		}
		@media (max-width: em($md2)) {
			color: var(--color-font);
		}
	}
}

//===============================================================
.menu {
	// .menu__body
	&__body {
		@media (max-width: em($md2)) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background: #fff;
			z-index: 50;
			transition: all 0.3s ease 0s;
			transform: translateX(-100%);
			max-width: 80%;
			width: rem(290);
			box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0);
			overflow-x: hidden;
			overflow-y: auto;
			padding: rem(20) rem(15) rem(80);
			display: flex;
			flex-direction: column;
			&._active {
				box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
				transform: translateX(0);
			}
		}
	}
	// .menu__logo
	&__logo {
		display: none;
		@media (max-width: em($md2)) {
			display: inline-block;
			margin: 0px 0px rem(35) 0px;
		}
	}
	// .menu__close
	&__close {
		display: none;
		@media (max-width: em($md2)) {
			display: inline-block;
			position: absolute;
			top: rem(10);
			right: rem(10);
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: rem(0) rem(40);
		@media (max-width: em($md1)) {
			gap: rem(0) rem(20);
		}
		@media (max-width: em($md2)) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			gap: rem(15);
			flex: 1 1 auto;
		}
	}
	// .menu__item
	&__item {
		position: relative;
	}
	// .menu__control
	&__control {
		display: flex;
		align-items: center;
		gap: rem(7);
	}
	// .menu__arrow
	&__arrow {
		color: var(--color-main);
		font-size: rem(11);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .menu__link
	&__link {
		font-weight: 700;
		text-transform: uppercase;
		color: inherit;
		white-space: nowrap;
		@media (max-width: em($md4)) {
			white-space: unset;
		}
		@media (max-width: em(360)) {
			font-size: rem(14);
		}
		&::before {
			content: '';
			position: absolute;
			bottom: rem(-3);
			left: 0;
			width: 100%;
			height: rem(2);
			background: var(--color-main);
			opacity: 0;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			color: var(--color-font) !important;
			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}

		@media (max-width: em($md2)) {
			.menu__control & {
				pointer-events: none;
			}
		}
	}
	// .menu__sub-list
	&__sub-list {
		@media (min-width: em($md2+1)) {
			position: absolute;
			top: calc(100% + rem(10));
			min-width: rem(270);
			opacity: 0;
			visibility: hidden;
			transform: translateY(rem(10));
		}
		transition: all 0.3s ease 0s;
		background: #fff;
		display: flex;
		flex-direction: column;
		gap: rem(5);
		pointer-events: none;
		z-index: 5;
		&._visible {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translateY(rem(0));
		}
		&::before {
			content: '';
			position: absolute;
			top: rem(-10);
			left: 0;
			width: 100%;
			height: rem(10);
		}
		@media (max-width: em($md2)) {
			display: none;
			&._visible {
				display: block;
			}
		}
	}
	// .menu__cat-menu
	&__cat-menu {
		@media (max-width: em($md2)) {
			margin: rem(20) rem(-15) 0px rem(-15);
		}
	}
	// .menu__sub-item
	&__sub-item {
	}
	// .menu__sub-link
	&__sub-link {
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: rem(14);
		line-height: 1;
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-link-hover-dark);
			}
		}
	}
}

//===============================================================
.header-socials {
	display: flex;
	align-items: center;
	gap: rem(10);
	// .header-socials__social
	&__social {
		color: inherit;
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-main);
			}
		}
	}
}

//===============================================================
.header-bottom {
	padding: 0px 0px rem(25) 0px;
	transition: all 0.3s ease 0s;
	@media (max-width: em($md2)) {
		padding: rem(15) 0px;
	}
	._scroll & {
		padding-bottom: rem(15);
	}
	// .header-bottom__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(20);
		@media (max-width: em($md4)) {
			gap: rem(5);
		}
	}
	// .header-bottom__logo
	&__logo {
		max-width: rem(200);
	}
	// .header-bottom__menu
	&__menu {
	}
	// .header-bottom__actions
	&__actions {
		display: flex;
		align-items: center;
		gap: rem(20);
		@media (max-width: em($md4)) {
			gap: rem(10);
		}
	}
}

//===============================================================
.search {
	display: flex;
	// .search__input
	&__input {
		height: rem(50);
		padding: rem(5) rem(20);
		background: var(--color-background);
		border: rem(1) solid var(--color-background);
		font-size: rem(14);
		min-width: rem(485);
		@media (max-width: em(1550)) {
			min-width: rem(250);
		}
		@media (max-width: em($md3)) {
			min-width: auto;
		}
	}
	// .search__btn
	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: rem(20);
		background: var(--color-background);
		padding: rem(5) rem(10);
		width: rem(50);
		transition: all 0.3s ease 0s;
		border: rem(1) solid var(--color-background);
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background: var(--color-main);
				border: rem(1) solid var(--color-main);
			}
		}
	}
}


//===============================================================
.header-tel {
	font-weight: 700;
	font-size: rem(14);
	color: inherit;
	white-space: nowrap;
	@media (any-hover: hover) {
		&:hover {
			color: var(--color-main);
		}
	}
}

.header-request {
	font-weight: 700;
	font-size: rem(14);
	color: inherit;
	@media (any-hover: hover) {
		&:hover {
			color: var(--color-main);
		}
	}
}

.header-logo {
	display: inline-block;
	width: rem(200);
	@media (max-width: em($md4)) {
		width: rem(137);
	}
}

