.page-inner {
	margin: 0px 0px rem(80) 0px;
	// .page-inner__content
	&__content {
	}
}

//===============================================================
.inner-header {
	padding: rem(25) 0px;
	// .inner-header__container
	&__container {
	}
	// .inner-header__body
	&__body {
		display: grid;
		grid-gap: rem(20);
	}
	// .inner-header__breadcrumbs
	&__breadcrumbs {
	}
	// .inner-header__title
	&__title {
	}
}

//===============================================================
.inner-content {
}

//===============================================================
.payment {
	// .payment__container
	&__container {
	}
	// .payment__body
	&__body {
		display: grid;
		grid-template-columns: 1fr rem(478);
		grid-gap: rem(50);
		@media (max-width: em($md2)) {
			grid-template-columns: 1fr;
		}
	}
	// .payment__column
	&__column {
		// .payment__column_info
		&_info {
		}
		// .payment__column_form
		&_form {
		}
	}
	// .payment__image
	&__image {
		margin: 0px 0px rem(25) 0px;
	}
	// .payment__title
	&__title {
		@include adaptiv-value(font-size, 24, 20, 1);
		text-transform: none;
		margin: 0px 0px rem(30) 0px;
	}
	// .payment__text
	&__text {
		margin: 0px 0px rem(25) 0px;
	}
	// .payment__quote
	&__quote {
		background: #E6E8ED;
		padding: rem(23) rem(30);
		font-style: italic;
		margin: 0px 0px rem(25) 0px;
	}
	// .payment__steps
	&__steps {
	}
}

//===============================================================
.payment-steps {
	padding: rem(15) 0px;
	display: flex;
	flex-wrap: wrap;
	gap: rem(30);
	// .payment-steps__step
	&__step {
		flex: 0 0 rem(220);
	}
	// .payment-steps__title
	&__title {
		color: var(--color-main);
		@include adaptiv-value(font-size, 30, 26, 1);
		white-space: nowrap;
		font-weight: 700;
		margin: 0px 0px rem(15) 0px;
	}
	// .payment-steps__label
	&__label {
	}
}

//===============================================================

.about {
	// .about__container
	&__container {
	}
	// .about__body
	&__body {
		display: grid;
		grid-template-columns: 1fr rem(478);
		grid-gap: rem(50);
		@media (max-width: em($md2)) {
			grid-template-columns: 1fr;
		}
	}
	// .about__column
	&__column {
		// .about__column_info
		&_info {
		}
		// .about__column_form
		&_form {
		}
	}
	// .about__image
	&__image {
		margin: 0px 0px rem(25) 0px;
	}
	// .about__title
	&__title {
		@include adaptiv-value(font-size, 24, 20, 1);
		text-transform: none;
		margin: 0px 0px rem(30) 0px;
	}
	// .about__text
	&__text {
		margin: 0px 0px rem(25) 0px;
	}
	// .about__info
	&__info {
	}
}

//===============================================================
.about-info {
	padding: rem(15) 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: rem(55) 0;
	text-align: center;
	// .about-info__item
	&__item {
		padding: 0px rem(55);
		@media (min-width: em($md0+1)) {
			&:not(:last-child) {
				border-right: rem(1) solid var(--color-border);
			}
		}
	}
	// .about-info__title
	&__title {
		color: var(--color-main);
		@include adaptiv-value(font-size, 60, 34, 1);
		white-space: nowrap;
		font-weight: 900;
		margin: 0px 0px rem(15) 0px;
		line-height: 1;
	}
	// .about-info__label
	&__label {
	}
}

//===============================================================
.delivery {
	// .delivery__container
	&__container {
	}
	// .delivery__body
	&__body {
		display: grid;
		grid-template-columns: 1fr rem(478);
		grid-gap: rem(50);
		@media (max-width: em($md2)) {
			grid-template-columns: 1fr;
		}
	}
	// .delivery__column
	&__column {
		// .delivery__column_info
		&_info {
		}
		// .delivery__column_form
		&_form {
		}
	}
	// .delivery__image
	&__image {
		margin: 0px 0px rem(25) 0px;
	}
	// .delivery__title
	&__title {
		@include adaptiv-value(font-size, 24, 20, 1);
		text-transform: none;
		margin: 0px 0px rem(30) 0px;
	}
	// .delivery__text
	&__text {
		margin: 0px 0px rem(25) 0px;
	}
}

//===============================================================
.service {
	// .service__container
	&__container {
	}
	// .service__body
	&__body {
		background: #F6F6F6;
		display: flex;
		justify-content: center;
	}
}